*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --lg: 2.2rem;
    --md: 2rem;
    --sm: 1.8rem;
    --white_thunder: #fff;
    --blue_thunder: #008e91;
    --light_blue_thunder: #0ec4bf;
    --gray_thunder: #304041;
    --dark_gray_thunder: #1e2324;
}


body{
    color: rgb(0, 0, 0);
    background-color: var(--gray_thunder);
}


#header-container{
    z-index: 10000;
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--white_thunder);
}

#logoThunder{
    height:100px;
}

.box-container{
    width: 100%;
    height: 80vh;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
    position: relative;
    display: inline-block;
    color: var(--white_thunder);
}

#velocimetro{
    position: absolute;
    display: block;
    font-weight: bolder;
    font-size: 4rem;
    color: var(--white_thunder);
    z-index: 10000;
}

#temperatura{
    margin-left: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 30px;
    transform: rotate(180deg);
}

#barra{
    width: 30px;
    height: 300px;
    position: absolute;
    align-self: flex-start;
    background-color: var(--blue_thunder);
    border-radius: 20px;
}

#fondo{
    width: 30px;
    height: 300px;
    position: absolute;
    border: 1px solid #000;
    border-radius: 20px;
    z-index: 1000;
}

.mediciones{
    position: absolute;
    width: 100%;
    height: 50vh;
    z-index: 1000;
}

#circulo{
    margin:0 auto;
    width: 150px;
    height: 150px;
}


@keyframes growProgressBar_velocity {
    0%, 10% { --pgPercentage_velocity: 0; }
    100% { --pgPercentage_velocity: var(--velocity); }
  }
  

@property --pgPercentage_velocity {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

#circuloExterno{
    --pgPercentage_velocity: var(--velocity);
    animation: growProgressBar_velocity 2s 1 forwards;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: conic-gradient(var(--light_blue_thunder) calc(var(--pgPercentage_velocity) * 1%), var(--dark_gray_thunder) 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

#circuloInterno{
    position: relative;
    height: 70%;
    width: 70%;
    border-radius: 50%;
    background-color: var(--gray_thunder);
}


#map {
    height: 100%;
    width: 100%;
  }

#acelerometro{
    margin-left: 100px;
    margin-bottom: 100px;
    position: absolute;
    display: inline-block;
}

#containerX, #containerY, #containerZ {
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;

  }
  
  #cube {
    width: 150px;
    height: 150px;
    position: absolute;
    transform-style: preserve-3d;
  }
  
  #cube figure {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 2px solid black;
  }
  
  #cube .back {
    width: 50%;
    height: 50%;
    transform:translate(50%, 50%);
    background: hsla(300, 74%, 53%, 0.5);
  }

  #cube .left {
    background: hsla(217, 100%, 50%, 0.521);
    transform: rotateY(90.01deg)
  }
  #cube .bottom {
    background: hsla(125, 100%, 50%, 0.488);
    transform: rotateX(90.01deg)
  } 
